.red{
	width:200px;
	height:200px;
	background:red;
	position: relative;
	left:0px;
	transition: background-color 2s ease-out,
	            border-radius 2s ease,
	            left 2s ease;
	-webkit-transition:background color 2s ease,
	                   border-radius 2s ease,
	                   left 2s ease;
	-moz-transition:background color 2s ease,
	                border-radius: 2s ease,
	                left 2s ease;
	-ms-transition:background color 2s ease,
	               border-radius: 2s ease,
	               left 2s ease;
}

.red:hover{
background-color:purple;
border-radius:  50%;
left:500px;
}

.blue{
	width:200px;
	height:200px;
	background-color:blue;
	border-radius: 0px;
	transition: border-radius 2s ease 2s;
	-webkit-transition:background color 2s ease 2s;
	-moz-transition:background color 2s ease 2s;
	-ms-transition:background color 2s ease 2s;
}

.blue:hover{
	border-radius:10px;
}
.blob{
	animation-name: squircle;
	animation-duration: 5s;
	animation-timing-function: ease;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	width: 200px;
	height: 200px;
	position: relative;
}

.blob-shorthand{
	animation: squircle 5s ease 2s infinite alternate;
	width: 200px;
	height: 200px;
}

@-webkit-keyframes squircle{
	0%{
		border-radius: 0px 0px 0px 0px;
		background-color: coral;
		transform: rotate(0deg);		
		left: 0px;
		top: 0px;
	}

	50%{
		border-radius: 50px 50px 0px 0px;
		background-color: pink;
		transform: rotate(90deg);
		left: 50px;
		top:50px;
	}
	
	100%{
		border-radius: 50px 50px 50px 50px;
		background-color: teal;
		transform: rotate(180deg);
		left: 100px;
		top: 100px;
	}
}

.sunset{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: relative;
	animation-name: sun;
	animation-duration: 4s;
	animation-iteration-count: 3;
}}

@-webkit-keyframes sun{
	0%{
		background-color: red;
		left: 0px;
		top: 0px;
	}

	25%{
		background-color: yellow;
		left: 200px;
		top: 0px;
	}

	50%{
		background-color: orange;
		left: 200px;
		top: 200px;
	}

	75%{
		background-color: blue;
		left: 0px;
		top: 200px;
	}

	100%{
		background-color: purple;
		left: 0px;
		top: 0px;
	}
}

}
















