
#important{
	background-color: black;
	width: 500%
	height;250px;
}

#important h3{
	color: green;
}
#important h3 a.red{
	color :red;

}
#important h3 a{
color:#00ff00;
}

#important h3 a.red:hover{

	font-size:36px;
}

#important h3 a.red:before{

	content: "\03a03";
	background-image: linear-gradient{red,yellow};
}

