

.square{


width:200px;
height:200px;
background: red;
display: inline-block;
}

.circle{
	width:200px;
	height:200px;
	border-radius:50%;
	background:blue;
	display: inline-block;
}

.triangle-up {
	width: 0;
	height:0:;
	1
}