body{
	background-color: #483D8B
;
	padding: 0 ;
    margin: 0;
    background-size: 60px 60px;
    background-image: 
    radial-gradient(
    	transparent 27px, #EE82EE 27px,
    	#EE82EE 32px, transparent 32px,
    	transparent 37px, #9370DB 37px,
    	#9370DB 39px, transparent 39px
    	);
}