body{
	background-color: #34495E
;
	padding: 0 ;
    margin: 0;
    background-size: 30px 30px;
    background-image: 
    radial-gradient(
    	transparent 7px, #95A5A6 7px,
    	#95A5A6 12px, transparent 12px,
    	transparent 17px, #3498DB 17px,
    	#3498DB 19px, transparent 19px
    	);
}