body{
	background-color: #BC8F8F;
	background-size: 100px 100px;
	background-image: radial-gradient(
		#DEB887 15%,
		transparent 15%
		),
	linear-gradient(
		45deg,
		transparent 48%, #FFF8DC 48%,
		#FFF8DC 52%, transparent 52%
		),
	linear-gradient(
		135deg,
		transparent 48%, #FFF8DC 48%,
		#FFF8DC 52%, transparent 52%
		);
}

.oval{
	  width: 200px;
      height: 100px;
      background: white;
      border-radius: 100px / 50px;
      position:fixed;
      top:50px;
      left:50px;
      z-index: 1
}