body{
	background-color: #ffffff;
    background-image: 
    linear-gradient(45deg,
		#FFA500 33%,
		transparent 33%,
		transparent 66%,
        #FFA500 66%),
    linear-gradient(135deg,
		#FFA500   33%,
		transparent 33%,
		transparent 66%,
        #FFA500   66%);
;
background-size: 100px 100px;
		
}
.container{
	height:100vh;
	display:flex;
	justify-content: center;
	align-items:center;
}


.cut-diamond {
      border-style: solid;
      border-color: transparent transparent lightskyblue transparent;
      border-width: 0 25px 25px 25px;
      height: 0;
      width: 50px;
      box-sizing: content-box;
      position: relative;
      margin: 20px 0 50px 0;
    }
.cut-diamond:after {
      content: "";
      position: absolute;
      top: 25px;
      left: -25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: lightskyblue transparent transparent transparent;
      border-width: 70px 50px 0 50px;
    }